
h1{
text-align: center;
border: solid ;
border-color: aqua;
border-radius: 20em;
color: red;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
body{
    background-color:lightgrey
    
}
body{
    margin: 0px;
}
img{
    width: 450px;
    height: 300px;
    margin: 10px;
}
img:hover{
    transform: scale(1.1)

}
h1:hover{
    transform: scale(1.1)
}
iframe{
    width: 450px;
    height: 300px;
    margin: 10px;
}
iframe:hover{
    transform: scale(1.1) 
}
